In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pizza = pd.read_csv("https://raw.githubusercontent.com/rajeevratan84/data-analyst-bootcamp/master/8358_1.csv")
num_rows, num_cols = pizza.shape
#define df.shape with the number of rows and columns
print(f"Table contains {num_rows} rows and {num_cols} columns")

Table contains 3510 rows and 21 columns

In [18]:
pizza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3510 entries, 0 to 3509
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  3510 non-null   object
 1   address             3510 non-null   object
 2   categories          3510 non-null   object
 3   city                3510 non-null   object
 4   country             3510 non-null   object
 5   keys                3510 non-null   object
 6   latitude            3510 non-null   float64
 7   longitude           3510 non-null   float64
 8   menuPageURL         610 non-null    object
 9   menus.amountMax     2948 non-null   float64
 10  menus.amountMin     2948 non-null   float64
 11  menus.currency      2951 non-null   object
 12  menus.dateSeen      3510 non-null   object
 13  menus.description   1526 non-null   object
 14  menus.name          3510 non-null   object
 15  name                3510 non-null   object
 16  postalCode          3484 non-null   object
 17  priceRangeCurrency  1557 non-null   object
 18  priceRangeMin       1557 non-null   float64
 19  priceRangeMax       1557 non-null   float64
 20  province            3510 non-null   object
dtypes: float64(6), object(15)
memory usage: 576.0+ KB

In [19]:
pizza['menus.amountMax'].isnull().values.any()
pizza['menus.amountMax'].isnull().sum()

562

In [20]:
pizzadrop=pizza.dropna(subset=['menus.amountMax', 'menus.amountMin'])
num_rows, num_cols = pizzadrop.shape
print(f"Table contains {num_rows} rows and {num_cols} columns")

Table contains 2948 rows and 21 columns

In [21]:
maxmean=pizzadrop['menus.amountMax'].mean()
minmean=pizzadrop['menus.amountMin'].mean()
print(f"The mean of pizza max price is {maxmean}, and the mean of pizza min price is {minmean}")

The mean of pizza max price is 12.479185888738241, and the mean of pizza min price is 11.427849389416831

Since we do not want to waste the data which include Nah in columns (menus.amountMax,menus.amountMin), we replace the nah columns with their max mean(12.4792) and min mean(11.4278) by imputation method.

In [33]:
import numpy as np
from sklearn.impute import SimpleImputer

mean_imputer = SimpleImputer(strategy='mean')
pizza['menus.amountMax'] = mean_imputer.fit_transform(pizza['menus.amountMax'].values.reshape(-1,1))
pizza['menus.amountMin'] = mean_imputer.fit_transform(pizza['menus.amountMin'].values.reshape(-1,1))

In [34]:
pizza['menus.amountMax'].isnull().sum()

0

In [35]:
pizza['menus.amountMin'].isnull().sum()

0

In [36]:
maxmean=pizza['menus.amountMax'].mean()
minmean=pizza['menus.amountMin'].mean()
print(f"The mean of pizza max price is {maxmean}, and the mean of pizza min price is {minmean}")

The mean of pizza max price is 12.479185888738076, and the mean of pizza min price is 11.42784938941656

After the imputation, the means of two columns still remind the same.

In [39]:
pizza['average_price'] = (pizza['menus.amountMax'] + pizza['menus.amountMin']) / 2
pizza.head()

,id,address,categories,city,country,keys,latitude,longitude,menuPageURL,menus.amountMax,...,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province,average_price
0,AVwc_6KEIN2L1WUfrKAH,Cascade Village Mall Across From Target,Pizza Place,Bend,US,us/or/bend/cascadevillagemallacrossfromtarget/...,44.102665,-121.300797,NaN,22.50,...,2016-03-31T02:19:42Z,NaN,Bianca Pizza,Little Pizza Paradise,97701,NaN,NaN,NaN,OR,19.00
1,AVwc_6KEIN2L1WUfrKAH,Cascade Village Mall Across From Target,Pizza Place,Bend,US,us/or/bend/cascadevillagemallacrossfromtarget/...,44.102665,-121.300797,NaN,18.95,...,2016-03-31T02:19:42Z,NaN,Cheese Pizza,Little Pizza Paradise,97701,NaN,NaN,NaN,OR,18.95
2,AVwc_6qRByjofQCxkcxw,148 S Barrington Ave,"American Restaurant,Bar,Bakery",Los Angeles,US,us/brentwood/losangeles/148sbarringtonave/-151...,34.064563,-118.469017,NaN,12.00,...,2015-10-23T03:57:26Z,NaN,"Pizza, Margherita",The Brentwood,90049,USD,50.0,55.0,Brentwood,12.00
3,AVwc_6qRByjofQCxkcxw,148 S Barrington Ave,"American Restaurant,Bar,Bakery",Los Angeles,US,us/brentwood/losangeles/148sbarringtonave/-151...,34.064563,-118.469017,NaN,13.00,...,2015-10-23T03:57:26Z,NaN,"Pizza, Mushroom",The Brentwood,90049,USD,50.0,55.0,Brentwood,13.00
4,AVwc_6qRByjofQCxkcxw,148 S Barrington Ave,"American Restaurant,Bar,Bakery",Los Angeles,US,us/brentwood/losangeles/148sbarringtonave/-151...,34.064563,-118.469017,NaN,13.00,...,2015-10-23T03:57:26Z,"Olives, onions, capers, tomatoes","Pizza, Puttenesca",The Brentwood,90049,USD,50.0,55.0,Brentwood,13.00

In [42]:
pizza.to_csv("/Users/georgeli/Desktop/stat3011/Project 2/newpizzadata.csv")